<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">	
<head>
  <title>EventosApp</title>
   <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
</head>
<body>
    <h3><a href="/" class="waves-effect waves-light btn">Voltar</a></h3>
    <h3><a href="/evento" class="waves-effect waves-light btn"><i class="material-icons left">add_circle_outline</i>Lista de Eventos</a></h3>
	<h1>Detalhes Eventos:</h1>
	<div th:each="evento : ${evento}" class="container">
	<div class="row">
		<p>NOME:<span th:text="${evento.nome}"></span></p>
		<p>LOCAL:<span th:text="${evento.local}"></span></p>
		<p>DATA:<span th:text="${evento.data}"></span></p>
		<p>HORÁRIO:<span th:text="${evento.horario}"></span></p>
	</div>
	
	<form method="post">
	Nome: <input type="text" value="" name="nomeConvidado"/>
	Rg: <input type="text" value="" name="rg"/>
	<button class="waves-effect waves-light btn" type="submit">Adicionar</button>
	</form>
	
	
	
	</div>
  <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>

</html>